main {
    margin-top: 60px;

    .container {
      padding: 40px 0;
      justify-content: start;
      flex-wrap: wrap;

    }

    .error-container {
        height: calc(100vh - 160px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
